* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
