@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --purple: #4f46e5;
  --white: #fdfdfd;
  --black: #161616;
  --bg: #fdfcff;
  --scroller: #ededed;
  --date: rgba(0, 0, 0, 0.5);
  --border: #c3bfbf;
  --cardborder: #E7E7E7;
  --box-shadow: rgba(0, 0, 0, 0.25);
}
body {
  font-family: "Raleway", sans-serif;
}
header {
  padding: 24px 40px;
}
.container {
  max-width: 768px;
  margin: auto;
}
.header {
  margin: auto;
  max-width: 688px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
}
.login {
  display: none;
}
nav {
  display: none;
}
.menu {
  width: 47px;
}
/* section 1 */
.section_1 {
  padding-left: 42px;
  padding-right: 38px;
  font-family: "inter", sans-serif;
  padding-bottom: 99px;
}
.blog {
  background: url(./images/productsimages/blog.jpg), rgba(79, 70, 229, 0.24);
  width: 100%;
  height: 80px;
  background-size: cover;
  padding-top: 8px;
  background-position: center;
  background-blend-mode: darken;
  color: var(--white);
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  text-align: center;
  border-radius: 16px;
}
.searchinput {
  border: none;
  height: 100%;
  padding-left: 8px;
  width: 308px;
  border-radius: 8px;
  font-size: 12px;
  outline: none;
}
.search {
  margin: auto;
  max-width: 688px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.searchform {
  display: flex;
  align-items: center;
  margin-top: -60px;
  border: 1px solid var(--border);
  width: 336px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0px 4px 4px var(--box-shadow);
}
.searchicon {
  background-color: var(--white);
  border: none;
  height: 100%;
  padding: 12px;
  padding-right: 0;
  border-radius: 8px;
}
.filter {
  display: flex;
  gap: 16px;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
}
.purple {
  padding: 4px 19.5px;
  border-radius: 8px;
  background-color: var(--purple);
  color: var(--white);
}
/* section2 */
.section_2 {
  padding-left: 49px;
  padding-right: 31px;
  color: var(--black);
}
.s2_ttl {
  font-size: 24px;
  line-height: 56px;
  margin-bottom: 67.21px;
  font-weight: bold;
}
.s2_cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 16px;
}
.s2_card {
  max-width: 688px;
  max-height: 220px;
  display: flex;
  gap: 16px;
  border: 1px solid var(--cardborder);
  border-radius: 16px;
  box-shadow: 0 4px 4px var(--box-shadow);
}
.card__img {
  max-width: 248px;
  max-height: 220px;
  overflow: hidden;
  border-radius: 16px;
}
.card_img {
  max-width: none;
  height: 100%;
  border-radius: 16px;
}
.card_inf {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 24px;
}
.card_ttl {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card_ttl1 {
  color: var(--purple);
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  font-weight: bold;
}
.card_ttl2 {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  font-weight: bold;
}
.card_descr {
  font-size: 14px;
  line-height: 20px;
  max-width: 370px;
  margin: 0;
}
.namedate {
  display: flex;
  flex-direction: column;
  width: 107px;
  justify-content: center;
}
.authorname {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
}
.authorimg {
  width: 40px;
  height: 40px;
}
.icons {
  display: flex;
  gap: 16px;
}
.author {
  display: flex;
  gap: 16px;
}
.info {
  display: flex;
  gap: 145px;
  align-items: center;
}
.hidden {
  display: none;
}
.read_more {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--purple);
  text-decoration: underline;
  margin-top: 8px;
}

.cardshidden {
  display: none;
}
/* section 3 */
.scroller {
  padding: 16px 40px;
  background-color: var(--scroller);
  border-radius: 16px;
  /* height: ;max- */
}
.carousel-inner {
  max-height: 288px;
}
.section_3 {
  padding-top: 77px;
  padding-bottom: 64px;
}
.d-block, .carousel-inner {
  border-radius: 16px;
}
